.container-fluid{
    background-color: rgba(128, 0, 128, 0.393);
    border: 1px solid black;
}


.contenu{
    border: 1px solid black;
}


.white{
    background-color: white;
}

[class^="col"]{
    
    height: 100px;
}

section{
    margin-top: 100px;
}

h2{
    padding-bottom: 100px;
}

